int a = 3;
a = 3.5;
cout << a;
while(j<5) {
	int d = 7;
	cout << a;
	float tities = 3.5;
	if(a<5) {
		d = 3+5;
		int y = 8;
	}
}
int c = 5;
if(a<3) {
	int b = 5;
	while(c>10) {
		cout << a;
	}
}
public void  check()
{
	while(a<3) {
		cout << b;
	}
}
